* {
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    background: url('brasil.png');
    background-size: cover;
}

h1 {
    text-align: center;
    color: white; 
}

form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}
